.glasses {
  display: block;
  position: fixed;
  margin: auto;
  top: -30px;
  bottom: 0;
  left: 5px;
  right: 0;
  z-index: 1;
}

.octopus {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hat {
  display: block;
  position: fixed;
  margin: auto;
  top: -250px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}